
#navbar {
    margin: 2em 10vw;
    

    display: flex;
    flex-direction: column;
    max-width: 100vw;
    align-items: center;
    justify-items: center;
  background-color: #f1f1f1;
}

#navbar button {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    font-size: 2rem;
}

#navbar a, #navbar a:hover, #navbar a:focus, #navbar a:active {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}